<div class="card eatery-card">

  <div class="item item-body">
    <div class="eatery-image" src-key="eatery.background" src-attr="background-image">
      <p class="eatery-capacity">
        {{eatery.$shift.capacity - eatery.$shift.orders.length||0}}剩余
      </p>
    </div>
    <h3 class="eatery-name clearfix">
      {{eatery.name}}
      <small>
        <a href="#" class="subdued">1人喜欢</a>
        <a href="#" class="subdued">5人吃过</a>
      </small>
    </h3>
    <p>
      {{eatery.info}}
      <a tooltip="{{eatery.postBy.name}}">@{{eatery.postBy.name}}</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item time" href="#">
      <select ng-model="eatery.$shift" ng-options="shift.time for shift in eatery.$shifts">
      </select>
    </a>
    <a class="tab-item location" href="#">
      <i class="icon ion-ios7-location-outline"></i>
      四平路
    </a>
    <a class="tab-item join balanced-bg" href="#">
      我要搭伙
    </a>
  </div>
</div>
