/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// Different with less. Then var cannot be override?

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$balanced: #11AA11;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// inject:scss
@import "chief-home.scss";
@import "eaterydeatil.scss";
@import "main.scss";
@import "themes/button.scss";
@import "themes/eatery-card.scss";
@import "themes/input.scss";
@import "themes/select.scss";
// endinject

ion-content{
  background: url(http://dahuo.qiniudn.com/assets%2Fbg.jpg);
}
